/*Club information page template*/

.container
{
	margin-top: 100px;
	text-align: center;
}

.navbar
{
	background-color: rgb(14, 88, 51);
}

.intro
{
	padding-bottom: 100px;
}

.members
{
	padding-bottom: 100px;
}

/*
.grid div:nth-child(odd)
{
	background-color: red;
}
.grid div:nth-child(even)
{
        background-color: green;
}
*/
