/*Club information page template*/

.container
{
	margin-top: 100px;
	text-align: center;
}

.navbar
{
	background-color: rgb(14, 88, 51);
}

.header
{
	text-align: center;
}

.intro
{
	text-align: center;
	padding-bottom: 90px;
}

.content
{
	text-align: center;
	padding-top: 90px;
}

.footer
{
	padding-top: 100px;
}

.members
{
	text-align: center;
}
/*
.grid div:nth-child(odd)
{
	background-color: red;
}
.grid div:nth-child(even)
{
        background-color: green;
}
*/
