/*Style sheet for index page*/

.container
{
        width: 80%;
        margin-top: 100px;
}


/*
.nav2
{
	grid-area: nav;
	text-align: right;
	font-size: 1em;
	padding-right: 25px;
	padding-top: 25px;
	background-color: rgb(14, 88, 51);
}
*/
.logo
{
	background-color: rgb(14, 88, 51);
}

.header
{
	text-align: center;
}
/*
#navbar li
{
	display: inline;
	padding: 10px;
}
*/
